@model AgentClient.ViewModel.GeneralInformationVM

@{
    ViewData["Title"] = "General";
}

<h1>General</h1>

<div>
    <h4>GeneralInformationVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountAgents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountAgents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountAgentsActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountAgentsActivity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountTargets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountTargetsEliminated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountTargetsEliminated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountMissions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountMissions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountMissionsActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountMissionsActivity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelationAgentsTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelationAgentsTargets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelationAgentsTargetsTeamable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelationAgentsTargetsTeamable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
